* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #050308;
  color: #fff;
  font-family: Arial, sans-serif;
}

header {
  background: #08050d;
  border-bottom: 1px solid #8a2be2;
  padding: 18px;
  text-align: center;
}

.logo {
  color: #c0c0c0;
  font-size: 24px;
  font-weight: bold;
}

.logo b {
  color: #8a2be2;
}

nav {
  margin-top: 15px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

nav a:hover {
  color: #a855f7;
}

.hero {
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(135deg, #050308, #18052b, #050308);
}

.content {
  width: 95%;
  max-width: 1100px;
}

.champion {
  width: 42%;
  max-width: 420px;
  height: 500px;
  object-fit: cover;
  object-position: center;
  border-radius: 18px;
  margin: 10px;
  box-shadow: 0 0 25px rgba(150, 0, 255, 0.5);
  vertical-align: middle;
}

.mark {
  color: #a855f7;
  font-size: 50px;
  font-weight: bold;
  margin: 20px;
}

h1 {
  font-size: 42px;
  color: #c0c0c0;
}

h1 span {
  color: #8a2be2;
}

p {
  font-size: 18px;
}

.buttons {
  margin-top: 25px;
}

.btn {
  display: inline-block;
  padding: 12px 20px;
  margin: 8px;
  border: 1px solid #8a2be2;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  background: #100719;
}

.btn:hover {
  background: #8a2be2;
}

.section {
  padding: 60px 20px;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

article {
  background: #100719;
  border: 1px solid #8a2be2;
  padding: 25px;
  border-radius: 12px;
  max-width: 300px;
}

footer {
  padding: 25px;
  text-align: center;
  background: #08050d;
  color: #aaa;
}

@media (max-width: 700px) {
  .champion {
    width: 90%;
    height: 420px;
    margin: 10px auto;
    display: block;
  }

  h1 {
    font-size: 30px;
  }
}
.champion {
  display: block;
  width: 92%;
  max-width: 500px;
  height: 420px;
  margin: 15px auto;
  object-fit: cover;
}
